apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.databaseName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.database }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.retrieverName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.retriever }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.langfuseName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.langfuse }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.errorMessagesName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.errorMessages }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.ragClassTypesName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.ragClassTypes }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.rerankerName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.reranker }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.embedderClassTypesName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.embedderClassTypes }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.publicName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.public }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.ollamaName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.ollama }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.ragasName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.ragas }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.stackitVllmName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.stackitVllm }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.stackitEmbedderName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.stackitEmbedder }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.fakeEmbedderName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.fakeEmbedder }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.chatHistoryName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.chatHistory }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.ollamaEmbedderName" . }}
data:
  {{- range $key, $value := .Values.backend.envs.ollamaEmbedder }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.mcp" . }}
data:
  MCP_PORT: {{ .Values.backend.mcp.port | quote }}
  MCP_HOST: {{ .Values.backend.mcp.host | quote }}
  MCP_NAME: {{ .Values.backend.mcp.name | quote }}
  MCP_CHAT_SIMPLE_DESCRIPTION: {{ .Values.backend.mcp.chatSimpleDescription | quote }}
  MCP_CHAT_SIMPLE_RETURNS: {{ .Values.backend.mcp.chatSimpleReturns | quote }}
  MCP_CHAT_SIMPLE_NOTES: {{ .Values.backend.mcp.chatSimpleNotes | quote }}
  MCP_CHAT_SIMPLE_EXAMPLES: {{ .Values.backend.mcp.chatSimpleExamples | quote }}
  MCP_CHAT_WITH_HISTORY_DESCRIPTION: {{ .Values.backend.mcp.chatWithHistoryDescription | quote }}
  MCP_CHAT_WITH_HISTORY_RETURNS: {{ .Values.backend.mcp.chatWithHistoryReturns | quote }}
  MCP_CHAT_WITH_HISTORY_NOTES: {{ .Values.backend.mcp.chatWithHistoryNotes | quote }}
  MCP_CHAT_WITH_HISTORY_EXAMPLES: {{ .Values.backend.mcp.chatWithHistoryExamples | quote }}
