apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.backend.name }}
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.backend.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.backend.name }}
    spec:
      securityContext:
        runAsUser: 65532
        runAsNonRoot: true
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "configmap.loggingName" . }}
        - name: log-dir
          emptyDir: {}
        - name: tmp-dir
          emptyDir: {}
      {{- if .Values.shared.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.shared.imagePullSecret.name }}
      {{- end }}
      initContainers:
      - name: init-permissions
        image: busybox
        command:
          - sh
          - -c
          - |
            touch /app/rag-backend/log/logfile.log && \
            chmod 600 /app/rag-backend/log/logfile.log
        volumeMounts:
        - name: log-dir
          mountPath: /app/rag-backend/log
      containers:
      {{- if .Values.features.mcp.enabled }}
      - name: {{ .Values.backend.mcp.name }}
        image: {{ include "mcp.fullImageName" . }}
        imagePullPolicy: {{ .Values.backend.mcp.image.pullPolicy }}
        envFrom:
          - configMapRef:
              name: {{ template "configmap.mcp" . }}
        volumeMounts:
          - name: config-volume
            mountPath: /config
          - name: log-dir
            mountPath: /app/mcp-server/log
      {{- end }}
      - name: {{ .Values.backend.name }}
        securityContext:
          allowPrivilegeEscalation: false
          {{- if not .Values.shared.debug.backend.enabled }}
          readOnlyRootFilesystem: true
          {{- end }}
        volumeMounts:
        - name: config-volume
          mountPath: /config
        - name: log-dir
          mountPath: /app/rag-backend/log
        - name: tmp-dir
          mountPath: /tmp
        image: {{ include "backend.fullImageName" . }}
        imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
        {{- if not (empty .Values.backend.command) }}
        command:
        {{- range $cmd :=  .Values.backend.command }}
        - {{ $cmd -}}
        {{ end }}
        {{- end }}
        {{- if not .Values.shared.debug.backend.enabled }}
        {{- if not (empty .Values.backend.args) }}
        args:
        {{- range $arg :=  .Values.backend.args }}
        - {{ $arg | quote -}}
        {{ end }}
        - "--workers"
        - {{ .Values.backend.workers  | quote}}
        - "--ws-max-queue"
        - {{ .Values.backend.wsMaxQueue | quote }}
        {{- end }}
        {{- else }}
        {{- if not (empty .Values.backend.debugArgs) }}
        args:
        {{- range $arg :=  .Values.backend.debugArgs }}
        - {{ $arg | quote -}}
        {{ end }}
        {{- end }}
        {{- end }}
        ports:
        - containerPort: {{ .Values.backend.service.port }}
        {{- if .Values.shared.debug.backend.enabled }}
        - containerPort: 31415
        {{- end }}
        envFrom:
          - configMapRef:
              name: {{ template "configmap.errorMessagesName" . }}
          - configMapRef:
              name: {{ template "configmap.databaseName" . }}
          - configMapRef:
              name: {{ template "configmap.ragClassTypesName" . }}
          - configMapRef:
              name: {{ template "configmap.embedderClassTypesName" . }}
          - configMapRef:
              name: {{ template "configmap.retrieverName" . }}
          - configMapRef:
              name: {{ template "configmap.rerankerName" . }}
          - configMapRef:
              name: {{ template "configmap.langfuseName" . }}
          - configMapRef:
              name: {{ template "configmap.publicName" . }}
          - configMapRef:
              name: {{ template "configmap.ollamaName" . }}
          - configMapRef:
              name: {{ template "configmap.usecaseName" . }}
          - configMapRef:
              name: {{ template "configmap.ragasName" . }}
          - configMapRef:
              name: {{ template "configmap.stackitVllmName" . }}
          - configMapRef:
              name: {{ template "configmap.stackitEmbedderName" . }}
          - configMapRef:
              name: {{ template "configmap.ollamaEmbedderName" . }}
          - configMapRef:
              name: {{ template "configmap.fakeEmbedderName" . }}
          - configMapRef:
              name: {{ template "configmap.chatHistoryName" . }}
          - secretRef:
              name: {{ template "secret.langfuseName" . }}
          - secretRef:
              name: {{ template "secret.stackitVllmName" . }}
          - secretRef:
              name: {{ template "secret.usecaseName" . }}
          - secretRef:
              name: {{ template "secret.stackitEmbedderName" . }}
          - secretRef:
              name: {{ template "secret.ragasName" . }}
        env:
          - name: PYTHONPATH
            value: {{ .Values.backend.pythonPathEnv.PYTHONPATH }}
